body{
  background-color:#D2CCCC;
  overflow-x:hidden;
}

#headers {
    /* font-family: sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-left: 0px;
    margin-top:0px;
    padding:50px;

}

 .discoverheading img {
    position: relative;
    width:101.20%;
    height:70%;
    margin: 0px;
    margin-top: -150px;
    margin-left:-10px;
    padding: 0px;
    border:0px;
    opacity: 37%;
    left:0px;
    top:0px;
}

#rectangle{
    position:relative;
    border-radius: 55px;
    background:white;
    padding: 20px;
    width: 400px;
    height: 50px;
    left:570px;
    top:-280px;
    opacity:60%;
  }
  
.name{
    position:relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #175873;
    line-height:1.5;
    font-weight:100;
    font-size:25px;
    left:660px;
    top:-394px;
}

.prompt{
  position:relative; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height:1.5;
  font-weight:40;
  font-size:30px;
  left:440px;
  top:-400px;
  color:white;
 
}

.navimg {
  align-items: left;
  margin-left: 40px;
  width: 60px;
  height: 50px;
}

ul {
    z-index:1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -10px;
    margin-top: -10px;
    overflow: hidden;
    background-color: #175873;
    top: 0;
    left: 0;
    width: 101.5%;
  }

  li {
    float: right;
    padding: 15px;
    font-size: 20px;
    background-color: #175873;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #3e778f;
  }

 /*i adding this comment so i can commit h e*/


/* tesla
.tesla img{
    width:60%;
    height:60%;
    
}

.tesla-text{
    color:#366581;
    font-style: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:relative; 
     top:-550px;
     left:0px;
     margin-left:1100px;
     margin-right:0px;
}

/* hyundai */
/* .hyundai img{
    width: 60%;
    height:60%;
    transform:scaleX(-1);
    margin-left:600px;;
    margin-right:-100px;
    
}

.hyundai-text{
    color:#366581;
    font-style: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:relative; 
     top:-750px;
     left:0px;
     margin-top:200px;
     margin-left:125px;
     margin-right:1100;
}

/* kia ev6 */
/* .kia img{
    width:60%;
    height:60%;
    position:relative;
    top:-200px;
    margin-top:-100px;
}

.kia-text{
    color:#366581;
    font-style: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:relative; 
     top:-900px;
     left:0px;
     margin-top:200px;
     margin-left:1075px;
     margin-right:25px;
}  */ 